* {
    border: 1px solid black;
    margin: auto;
    text-align: center;
}


.timer-settings {
    display: flex;
}

.time-setter {
    display: inline-flex;
    flex-direction: column;
}

.settings-box {
    display: flex;
    font-size: xx-large;
}